#custom-modal(ng-click="close()", ng-show="options.display")
  #overlay(ng-click="$event.stopPropagation()")
    mg-datepicker(mg-start="start", mg-end="end", mg-select="close({start:start, end:end})", mg-button-name="buttonName", mg-options="options")
  #fade
