#custom-modal(ng-click="close()", ng-show="options.display")
  #overlay(ng-click="$event.stopPropagation()" ng-style="options.overlayZIndex")
    mg-datepicker(mg-start="start", mg-end="end", mg-select="close()", mg-button-name="buttonName", mg-callback="callback", mg-options="options")
  #fade(ng-style="options.fadeZIndex")
